<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
        RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} !.*\.(ico|gif|jpg|jpeg|png|js|css|pdf|xlsx)
	RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>